@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input.number-arrows-none::-webkit-outer-spin-button,
  input.number-arrows-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input.number-arrows-none[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Custom CSS */

.hidden {
  opacity: 0;
  display: none;
  height: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.fade {
  transition: opacity 0.6s;
}

#headerImg_recaptcha {
  max-height: 15rem;
}

#recaptcha_dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.MuiFormLabel-root {
  font-size: 1.15rem !important;
  font-weight: bold !important;
}

.tutorial_container img {
  max-width: 20rem;
  width: 80%;
  margin: 0 auto 1rem auto;
}

.feelingThermometer .MuiSlider-rail {
  background: linear-gradient(rgb(255, 112, 112), rgb(85, 146, 255)) !important;
}
.feelingThermometer .MuiSlider-track {
  opacity: 0;
}
.feelingThermometer span.active {
  font-weight: bold;
}


/* Fix textarea border */
textarea:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Fix unclickable radio button */
:root {
  --Radio-actionRadius: 0
}
[type=radio] {
  border-radius: var(--Radio-actionRadius);
}


/* Fix chat thing */

.cs-main-container {
  flex-wrap: wrap;
}
.msgSend {
  flex-grow: 1;
  width: 100%;
  order: 2;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 1rem 0 1rem 0;
  position: relative;
}

.msgSend input, .msgSend textarea {
  border-radius: 1rem;
  border: none !important;
  background-color: #f5f5f5;
  width: 20em;
  margin: 0 1rem 0 0;
  flex-grow: 1;
  outline: none !important;
  box-shadow: none !important;
}
.msgSend textarea {
  resize: none;
  position: relative;
}
.msgSend .rah-input-wrapper::after {
  content: 'Shift + Enter for new line';
  position: absolute;
  bottom: -1em;
  left: 0em;
  color: gray;
  display: block;
  z-index: 5;
  font-size: 0.7em;
  margin: -0.5em 0 0 1em;
}

.botMsg {
  /* margin-top: 0em !important; */
}
.cs-message--incoming:not(.botMsg) + .botMsg {
  margin-top: 1rem !important;
}
.botMsg .cs-message__content {
  background-color: rgb(219, 219, 219);
  color: #4a4a4a;
  /* color: orange; */
}
.botIcon {
  color: rgb(107, 100, 127);
  opacity: 0.5;
  font-size: 1.5em !important;
}
.botIcon:not(:first-child) {
  margin-top: 0.5em !important;
}

.msgSend.treatment {
  flex-wrap: wrap;
  align-items: baseline;
  text-align: left;
}
.msgSend.treatment div {
  transition: opacity 0.4s ease-in, transform 0.2s ease-in;
  transform-origin: top;
  cursor: pointer;
}
.msgSend.treatment button {
  background: none !important;
  /* cursor: initial !important; */
}
.msgSend.treatment.hidden {
  transform: scaleY(0);
}
.msgSend.treatment.hidden div {
  transform: scaleY(0);
  opacity: 0;
}
.msgSend.treatment textarea, .msgSend.treatment .input-wrapper div {
  width: 342px;
  flex-grow: 0;
  background-color: rgb(206, 253, 211);
  color: #106f2b;
  position: relative;

  border-radius: 1rem;
  border: none !important;
  /* width: 20em; */
  margin: 0 1rem 0 0;
  flex-grow: 1;
  outline: none !important;
  box-shadow: none !important;
  resize: none;
}
.msgSend.treatment .input-wrapper div {
  padding: 0.5em 1em;
  user-select: none;
}
.treatmentMsg .cs-message__content {
  background-color: rgb(206, 253, 211);
  color: #106f2b;
}

.msgSend.treatment span {
  width: 100%;
  display: block;
  padding-left: 3rem;
  font-size: 0.8em;
  color: #8d8d8d
}

.msgSend.treatment .input-wrapper {
  position: relative;
}
.msgSend.treatment .input-wrapper:before {
  content: '';
  position: absolute;
  width: 1em;
  height: 2em;
  top: -1em;
  right: 1em;
  background-color: rgb(206, 253, 211);
  z-index: 2;
  display: block;
}.msgSend.treatment .input-wrapper:after {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  top: -2em;
  right: 0.99em;
  /* background-color: rgb(75, 208, 90); */
  background-color: white;
  z-index: 3;
  display: block;
  border-radius: 100%;
}
.msgSend.treatment.example {
  order: initial;
}
.msgSend.treatment.original .input-wrapper:before,  .msgSend.treatment.original .input-wrapper div {
  background-color: rgb(246, 246, 246);
  color: rgb(112, 112, 112);
}
#rewriteHint {
  position: absolute;
  bottom: -2em;
  left: -6em;
  z-index: 1;
  text-align: center;
  transform: rotate(-25deg);
  padding: 0 2em 0 0;
  opacity: 0.8;
}
#rewriteHint::after {
  content: '{';
  /* width: 2em; */
  /* height: 2em; */
  /* border: solid 1px  */
  display: block;
  position: absolute;
  font-size: 3em;
  top: 0.25em;
  right: 0;
  z-index: 2;
  transform: rotate(25deg);
}

/* Progress List */
.progressList .MuiListItem-root {
  opacity: 0.4;
}
.progressList .MuiListItem-root.active {
  opacity: 0.95;
}
.progressList .MuiListItemDecorator-root {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  margin-right: -0.5em;
  opacity: 0.8;
}
.progressList .MuiListItemDecorator-root svg {
  font-size: 2em;
  transform: scaleX(0.7);
  margin-left: -0.35em;
  color: #000;
}
.progressList .MuiListItemContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textRed {
  color: red;
}
.cs-avatar {
  opacity: 0.3;
}

/* Group Images */
.sameGroup {
  max-width: 75%;
  margin: 0 auto;
}

/* Pots */

.potContainer {
  width: 12rem;
  height: 18rem;
  text-align: 'center';
  /* border: solid 1px #ccc; */
  display: block;
  /* border-radius: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  /* margin-right: -4rem; */
  /* margin-left: -4rem; */
  margin: 0;
}
.potContainer span {
  position: absolute;
  top: 2rem;
  font-size: 0.9em;
  opacity: 0.7;
  text-align: center;
}
.potContainer span.base_bonus {
  position: initial;
}

/* Within Group Graphic */
.liberal {
  background-color: #3e7ce6;
}
.conservative {
  background-color: #e0564b;
}

.withinGroupGraphic {
  padding: 1em;
  border-radius: 1em;
  color: #fff;
}
.icon-center {
  display: block;
  font-size: 2em;
}


/* Across Group Graphic */
.mainGroup {
  color: #fff;
  margin-bottom: 0.25em;
  margin-left: 0.75em;
  display: flex;
  height: 7em;
  position: relative;
  border-radius: 1em 0 0 0;
  align-items: center;
  padding: 1em;
  text-align: left;
}
.mainGroup .icon-left {
  font-size: 2em;
  margin-right: 0.5em;
}
.mainGroup:after {
  content: '';
  position: absolute;
  right: -3.5em;
  top: 0em;
  background-color: inherit;
  z-index: 2;
  height: 7em;
  width: 7em;
  transform: rotate(-135deg);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.opposingGroup {
  color: #fff;
  position: relative;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  margin-right: 0.25em;
  border-radius: 0 0 1em 0;
}
.opposingGroup .icon-right {
  font-size: 1.5em;
  margin-right: 1em;
}
.opposingGroup:after {
  content: '';
  position: absolute;
  left: -1em;
  top: -0.25em;
  background-color: inherit;
  z-index: 2;
  height: 3em;
  width: 3em;
  transform: rotate(45deg);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.youLeftMsg .cs-message__header, .partnerLeftMsg .cs-message__header {
  display: none;
}
.youLeftMsg .cs-message__content, .partnerLeftMsg .cs-message__content {
  color: #a3a3a3 !important;
  background: none;
}
.youLeftMsg .cs-message__html-content:after {
  content: 'You left the chat'; 
}
.partnerLeftMsg .cs-message__html-content:after {
  content: 'Your partner left the chat';
}


.small .MuiRadioGroup-root label p {
  font-size: 0.8rem !important;
}

.MuiButton-root.success {
  background-color: rgb(103, 215, 126) !important;
  cursor: initial;
}
.bottomLog {
  display: none !important;
}
@media screen and (max-width: 1015px) {
  .reflectionSurveyHeaderTxt::after {
    content: ' Your chat log is provided at the bottom of the page for reference.'
  }
  .rightLog {
    display: none !important;
  }
  .bottomLog {
    display: flex !important;
  }
}
